
 :root {
    --kh-table-border-color: #ccd0d4;
    --kh-table-border-bottom: #ccd0d4;
    --kh-table-section-header-background-color: #2c3e50;
    --kh-table-border-bottom-color: #e6ebf1;
    --kh-table-section-header-color: white;
    --kh-handle-background: #2c3e50;
    --kh-handle-color: white;
    --kh-table-border-bottom-height: 3rem;
    --kh-loader-background-color: #2c3e50;
    --kh-loader-dot-color: #2271b1;
    --kh-loader-dot-color-faint: rgba(44, 62, 80, .2);
}
.acf-field-repeater:not(.acf-field-kivvi-flex-sections) {
    --kh-table-section-header-background-color: #2271b1;
    --kh-handle-background: #2271b1;
}

.acf-field-clone   .acf-label:not(.kivvi-acf-header-display), [data-name=kivvi_flex_components] > .acf-label {
    display: none;
}


.acf-field-clone .acf-fields.-border, .acf-clone-fields .acf-fields.-border {
      border: none;
      padding: 0;
      margin: 0;
  }

/* TARGET SECTIONS */
[data-name=kivvi_flex_sections] > .acf-input > .acf-repeater > table > tbody > tr > td.acf-row-handle.order {
    font-size: 2rem;
}


/* ADMIN NAMES */
[data-key=kivvi_admin_name] {
    display: none;
}

.layout > .acf-fields > .acf-field > .acf-input > .acf-fields > .acf-field > .acf-input > .acf-fields > .acf-field[data-key=kivvi_admin_name] {
    display: block;
} 

.kivvi-section-admin-title {
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--kh-table-section-header-background-color);
    color: var(--kh-table-section-header-color);
    padding-left: 1rem;
}

.kivvi-admin-title {
    padding-left: 2rem; 
    font-size: 1.5rem;
    line-height: 1.5;
}

/* SPACING */


:is(.acf-field-kivvi-flex-sections, .acf-field-repeater) > .acf-input > .acf-repeater > table {
    border-collapse: collapse;
}
:is(.acf-field-kivvi-flex-sections, .acf-field-repeater) > .acf-input > .acf-repeater > table > tbody > tr > td {
    position: relative;
    border: unset;
    
    
}


.acf-field-repeater > .acf-input > .acf-repeater > table > tbody > tr > td > .acf-field:last-of-type {
    padding-bottom: calc(var(--kh-table-border-bottom-height) + 2rem);
}
.acf-field-repeater:not(.last-of-type) > .acf-input > .acf-repeater > table > tbody > tr > td:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--kh-table-border-bottom-height);
    background: linear-gradient(to bottom, var(--kh-table-section-header-background-color) 32px, white 32px, white 90%);
    /* background: var(--kh-table-border-bottom);  */
}

.acf-field-repeater:not(.acf-field-kivvi-flex-sections) > .acf-input > .acf-repeater > table > tbody > tr > td > div:first-of-type  {
    padding-top: calc((var(--kh-table-border-bottom-height) / 2) + 2rem);
    position: relative;
}
.acf-field-repeater:not(.acf-field-kivvi-flex-sections) > .acf-input > .acf-repeater > table > tbody > tr > td > div:first-of-type::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--kh-table-border-bottom-height) / 2);
    background: var(--kh-table-section-header-background-color);
}


.editor-help {
    margin-top: 10px;
}

.acf-repeater .acf-row-handle:is(.order, .remove) {
    background: var(--kh-handle-background) !important;
    color: var(--kh-handle-color) !important;
}

/* BUTTONS */
.acf-button.button-primary {
    background: var(--kh-handle-background);
    border-color: var(--kh-handle-background);
}

.acf-icon.small {
    width: 30px;
    height: 30px;
    line-height: 21px;
    font-size: 21px;
}

#acf-kivvi_pagebuilder_flex {
    background:transparent;
    border-color: transparent;
    transition: all .5s ease-in-out;
}
#acf-kivvi_pagebuilder_flex.loaded {
    background: #fff;
    border-color: #c3c4c7;
}
#acf-kivvi_pagebuilder_flex > *:not(#kivvi-flex-loader) {
    max-height: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
#acf-kivvi_pagebuilder_flex > *:not(#kivvi-flex-loader).loaded {
    max-height: 100%;
    opacity: 1;
}

#kivvi-flex-loader {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    opacity: 1;
    transition: all 1s ease-in-out;
    top: 0px; 
    bottom: 0px;
    position: fixed; 
    left: 0px; 
    right: 0px; 
    background-color: var(--kh-loader-dot-color-faint); 
    z-index: 9999;
}
#kivvi-flex-loader.closed {
    opacity: 0;
    

}
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: d5 1s infinite linear alternate;
  }
  @keyframes d5 {
      0%  {box-shadow: 20px 0 var(--kh-loader-dot-color), -20px 0 var(--kh-loader-dot-color-faint);background: var(--kh-loader-dot-color) }
      33% {box-shadow: 20px 0 var(--kh-loader-dot-color), -20px 0 var(--kh-loader-dot-color-faint);background: var(--kh-loader-dot-color-faint)}
      66% {box-shadow: 20px 0 var(--kh-loader-dot-color-faint),-20px 0 var(--kh-loader-dot-color); background: var(--kh-loader-dot-color-faint)}
      100%{box-shadow: 20px 0 var(--kh-loader-dot-color-faint),-20px 0 var(--kh-loader-dot-color); background: var(--kh-loader-dot-color) }
  }