
 
.acf-field-clone   .acf-label:not(.kivvi-acf-header-display), [data-name=kivvi_flex_components] > .acf-label {
    display: none;
}


.acf-field-clone .acf-fields.-border, .acf-clone-fields .acf-fields.-border {
      border: none;
      padding: 0;
      margin: 0;
  }

/* TARGET SECTIONS */
[data-name=kivvi_flex_sections] > .acf-input > .acf-repeater > table > tbody > tr > td.acf-row-handle.order {
    /* background: green; */
    font-size: 2rem;
}


/* ADMIN NAMES */
[data-key=kivvi_admin_name] {
    display: none;
}

.layout > .acf-fields > .acf-field > .acf-input > .acf-fields > .acf-field > .acf-input > .acf-fields > .acf-field[data-key=kivvi_admin_name] {
    display: block;
} 

.kivvi-section-admin-title {
    font-size: 2rem;
    line-height: 1.5;
    
    padding-left: 1rem;
}

.kivvi-admin-title {
    padding-left: 2rem; 
    font-size: 1.5rem;
    line-height: 1.5;
}
