:root {
  --kh-color-green: #43d2b5;
  --kh-color-blue: #2ea3f2;
  --kh-global-background: white;
  --kh-global-font-color: #666;
  --kh-color-light: white;
}

* {
  word-break: break-word;
}

img {
  max-width: 100%;
}

html {
  background: var(--kh-global-background);
  color: var(--kh-global-font-color);
}

body {
  margin: 0;
}

.kivvi_section {
  background-size: cover;
  text-align: center;
  padding: 1rem 0;
  margin: 2rem auto;
}
@media screen and (min-width: 1280px) and (max-width: 1320px) {
  .kivvi_section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.kivvi_section.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kivvi_section_content {
  position: relative;
  max-width: 1280px;
  margin: auto;
}
@media screen and (max-width: 1279px) {
  .kivvi_section_content {
    width: 90%;
  }
}

.full-width {
  width: 80%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 8rem;
  padding-top: 0;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  background-size: contain;
}
@media screen and (min-width: 1280px) {
  .full-width {
    margin-left: calc(-50vw + 640px);
    margin-right: calc(-50vw + 640px);
    padding-left: calc((-50vw + 640px) * -1);
    padding-right: calc((-50vw + 640px) * -1);
    margin-left: calc(-100vw + 1280px);
    margin-right: 0;
    padding-left: calc((-100vw + 1280px) * -1);
    padding-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .full-width {
    background: none !important;
    padding-bottom: 0;
  }
}

.min-margin-bottom {
  margin-bottom: 1rem;
}

.section.min-margin-bottom {
  margin-bottom: 1rem;
}
.section.no-margin-bottom {
  margin-bottom: 0;
}

.extra-padding {
  padding-top: 12rem;
}

.no-margin-top {
  margin-top: 0;
}

.width-950 {
  max-width: 950px;
}
@media screen and (min-width: 1000px) {
  .width-950.white-section .kivvi_section_content {
    padding-left: 0;
    padding-right: 0;
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p {
  line-height: 1.5;
}

:is(h1, h2, h3, h4, h5) {
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.2;
}

h1 {
  font-size: clamp(1.5rem, -0.875rem + 9.333vw, 5rem);
}

h2 {
  font-size: clamp(1.35rem, -0.875rem + 8.6666vw, 44px);
}

h3 {
  font-size: clamp(1.2rem, -0.875rem + 8.333vw, 28px);
}

h4 {
  font-size: clamp(1rem, -0.875rem + 8vw, 20px);
}

.columns-two {
  display: flex;
}

.kivvi-columns {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}
.kivvi-columns.equal-width > * {
  flex: 1;
  flex-wrap: wrap;
  margin: auto;
}

.hanging-indent {
  padding-left: 22px;
  text-indent: -22px;
}

.kivvi_sidebar {
  text-align: left;
}
.kivvi_sidebar h2 {
  font-size: 38px;
  margin-block-end: 0;
}
.kivvi_sidebar a {
  text-decoration: none;
}
.kivvi_sidebar ul {
  margin-block-start: 0.5rem;
}

.modal.slidein {
  transform: translateX(150%);
  transition: transform 0.5s ease-in-out;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: black;
  z-index: 500;
  display: flex;
  line-height: 1.5;
  text-align: left;
}
.modal.slidein .modal-text {
  padding-top: 2rem;
  width: 66%;
}
.modal.slidein .modal-text h2,
.modal.slidein .modal-text h3,
.modal.slidein .modal-text p {
  width: 90%;
  max-width: 600px;
  margin: 1rem auto;
}
.modal.slidein .modal-img {
  width: 34%;
}
.modal.slidein .modal-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  max-height: 100vh;
}
.modal.slidein h2 {
  color: var(--kh-color-dark-teal);
  text-transform: uppercase;
  font-size: 32px;
}
.modal.slidein h3 {
  color: var(--kh-color-orange);
}
.modal.slidein .blurb {
  color: var(--kh-color-dark-teal);
}
.modal.slidein p {
  font-size: 16px;
}
.modal.slidein.active {
  transform: translateX(0);
}
.modal.slidein .modal-close {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 50px;
  color: var(--kh-color-teal);
  transition: transform 0.3s;
  cursor: pointer;
}
.modal.slidein .modal-close:hover {
  transform: rotate(90deg);
}

.slideuptext {
  line-height: 1.2;
  overflow: hidden;
}
.slideuptext .inner {
  display: inline-block;
  transform: translateY(200%);
  transition: transform 0.5s;
}
.slideuptext.active .inner {
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  .slideuptext .inner {
    transform: translateY(0);
  }
}
.slideupWord {
  white-space: nowrap;
}

.active .slideup {
  transform: translateY(0);
  transition: all 2s;
}
.active .slideup.delay-1 {
  transition-delay: 0.5s;
}
.active .slideup.delay-2 {
  transition-delay: 1s;
}
.active .slideup.delay-3 {
  transition-delay: 1.5s;
}
.active .slideup.delay-4 {
  transition-delay: 2s;
}
.active .slideup.delay-5 {
  transition-delay: 2.5s;
}
.active .slideup.delay-6 {
  transition-delay: 3s;
}
.active .slideup.delay-7 {
  transition-delay: 3.5s;
}
.active .slideup.delay-8 {
  transition-delay: 4s;
}
.active .slideup.delay-9 {
  transition-delay: 4.5s;
}

.slideup {
  transform: translateY(200%);
  transition: transform 0.5s;
}
.slideup.active {
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  .slideup {
    transform: translateY(0);
    transition: none;
  }

  .active .slideup {
    transition: none;
  }
}
:root {
  --loaderColorStart: rgba(35, 229, 219, 0.2);
  --loaderColorMid: rgba(35, 229, 219, 0.5);
  --loaderColorEnd: rgba(35, 229, 219, 0.7);
}

#page-transition.fadespinner {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  transition: all 2.5s;
}
#page-transition.fadespinner.active {
  z-index: 9999;
  background-color: black;
  opacity: 1;
  transition: all 1s;
}
#page-transition.fadespinner #page-loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: static;
  left: calc(50% - 0.5rem);
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0.5;
}
#page-transition.fadespinner #page-loader.entry {
  display: none;
}
#page-transition.fadespinner #page-loader .circle {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: var(--kh-color-orange);
  border-radius: 50%;
  -webkit-animation: rotate linear infinite;
  animation: rotate linear infinite;
}
#page-transition.fadespinner #page-loader .circle.one {
  height: 50px;
  width: 50px;
  left: 50px;
  top: 50px;
  border-top-color: var(--kh-color-teal);
  -webkit-animation-duration: 0.85s;
  animation-duration: 0.85s;
}
#page-transition.fadespinner #page-loader .circle.two {
  height: 75px;
  width: 75px;
  top: 38px;
  left: 38px;
  -webkit-animation-duration: 0.95s;
  animation-duration: 0.95s;
}
#page-transition.fadespinner #page-loader .circle.three {
  height: 100px;
  width: 100px;
  top: 25px;
  left: 25px;
  border-top-color: var(--kh-color-dark-teal);
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s;
}

@keyframes rotate {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em var(--loaderColorStart), 2.5em 0em 0 0em var(--loaderColorStart), 1.75em 1.75em 0 0em var(--loaderColorStart), 0em 2.5em 0 0em var(--loaderColorStart), -1.8em 1.8em 0 0em var(--loaderColorStart), -2.6em 0em 0 0em var(--loaderColorMid), -1.8em -1.8em 0 0em var(--loaderColorEnd);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em var(--loaderColorEnd), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em var(--loaderColorStart), 1.75em 1.75em 0 0em var(--loaderColorStart), 0em 2.5em 0 0em var(--loaderColorStart), -1.8em 1.8em 0 0em var(--loaderColorStart), -2.6em 0em 0 0em var(--loaderColorStart), -1.8em -1.8em 0 0em var(--loaderColorMid);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em var(--loaderColorMid), 1.8em -1.8em 0 0em var(--loaderColorEnd), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em var(--loaderColorStart), 0em 2.5em 0 0em var(--loaderColorStart), -1.8em 1.8em 0 0em var(--loaderColorStart), -2.6em 0em 0 0em var(--loaderColorStart), -1.8em -1.8em 0 0em var(--loaderColorStart);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em var(--loaderColorStart), 1.8em -1.8em 0 0em var(--loaderColorMid), 2.5em 0em 0 0em var(--loaderColorEnd), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em var(--loaderColorStart), -1.8em 1.8em 0 0em var(--loaderColorStart), -2.6em 0em 0 0em var(--loaderColorStart), -1.8em -1.8em 0 0em var(--loaderColorStart);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em var(--loaderColorStart), 1.8em -1.8em 0 0em var(--loaderColorStart), 2.5em 0em 0 0em var(--loaderColorMid), 1.75em 1.75em 0 0em var(--loaderColorEnd), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em var(--loaderColorStart), -2.6em 0em 0 0em var(--loaderColorStart), -1.8em -1.8em 0 0em var(--loaderColorStart);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em var(--loaderColorStart), 1.8em -1.8em 0 0em var(--loaderColorStart), 2.5em 0em 0 0em var(--loaderColorStart), 1.75em 1.75em 0 0em var(--loaderColorMid), 0em 2.5em 0 0em var(--loaderColorEnd), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em var(--loaderColorStart), -1.8em -1.8em 0 0em var(--loaderColorStart);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em var(--loaderColorStart), 1.8em -1.8em 0 0em var(--loaderColorStart), 2.5em 0em 0 0em var(--loaderColorStart), 1.75em 1.75em 0 0em var(--loaderColorStart), 0em 2.5em 0 0em var(--loaderColorMid), -1.8em 1.8em 0 0em var(--loaderColorEnd), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em var(--loaderColorStart);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em var(--loaderColorStart), 1.8em -1.8em 0 0em var(--loaderColorStart), 2.5em 0em 0 0em var(--loaderColorStart), 1.75em 1.75em 0 0em var(--loaderColorStart), 0em 2.5em 0 0em var(--loaderColorStart), -1.8em 1.8em 0 0em var(--loaderColorMid), -2.6em 0em 0 0em var(--loaderColorEnd), -1.8em -1.8em 0 0em #ffffff;
  }
}
.rotate {
  transition: transform 2s;
  max-width: 90%;
}
.rotate.active {
  transform: rotate(35deg);
}

@media (prefers-reduced-motion: reduce) {
  .rotate {
    transform: rotate(35deg);
  }
}
.fadein {
  opacity: 0;
  transition: opacity 4s, transform 1s;
  transform: translateY(100px);
}

.fadein.active {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  .fadein {
    opacity: 1;
    transform: translateY(0);
  }
}
.typing {
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  position: relative;
}
.typing span {
  line-height: 1.5;
  display: inline-block;
  transition: opacity 0.3s;
}
.typing span:not(.active):not(.activestop):not(.start) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
}

.typing span.active {
  opacity: 1;
  animation: scrollinout 4s forwards;
  line-height: 1.5;
}

.typing span.activestop {
  opacity: 1;
  animation: scrollin 2s forwards;
  line-height: 1.5;
}

.typing span.starting {
  opacity: 1;
  animation: scrollout 3s forwards;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  .typing span {
    animation: none;
  }
  .typing span.active {
    animation: none;
  }
  .typing span.activestop {
    animation: none;
  }
  .typing span.starting {
    animation: none;
  }
}
@keyframes scrollin {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes scrollinout {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
  }
  30% {
    opacity: 1;
  }
  40% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  60% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
  }
}
@keyframes scrollout {
  0% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
ul.socials {
  list-style-type: none;
  padding: 0;
}
ul.socials li {
  display: inline-block;
}

.dashicons,
.dashicons-before:before {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin-right: 4px;
}

:root {
  --kh-button-background: transparent;
  --kh-button-color: black;
  --kh-button-padding: 0.5rem 1rem;
  --kh-button-radius: 10px;
  --kh-button-border: 1px solid black;
  --kh-button-hover-color: white;
  --kh-button-hover-background: black;
  --kh-button-transition: 0.5s all ease-in-out;
  --kh-button-alternate-color: var(--kh-color-green);
  --kh-button-alternate-background: transparent;
  --kh-button-alternate-hover-color: white;
}

button,
.button {
  background-color: var(--kh-button-background);
  color: var(--kh-button-color);
  padding: var(--kh-button-padding);
  border-radius: var(--kh-button-radius);
  border: var(--kh-button-border);
  transition: var(--kh-button-transition);
  text-decoration: none;
}
button a,
.button a {
  color: var(--kh-button-color);
  text-decoration: none;
  transition: var(--kh-button-transition);
}
button:hover,
button a:hover, button:hover a,
.button:hover,
.button a:hover,
.button:hover a {
  color: var(--kh-button-hover-color);
  background-color: var(--kh-button-hover-background);
}
button.button--alternate, button.button--alternate a,
.button.button--alternate,
.button.button--alternate a {
  background-color: var(--kh-button-alternate-background);
  color: var(--kh-button-alternate-color);
  transition: var(--kh-button-transition);
}
button.button--alternate:hover,
button.button--alternate a:hover, button.button--alternate:hover a, button.button--alternate a:hover,
button.button--alternate a a:hover, button.button--alternate a:hover a,
.button.button--alternate:hover,
.button.button--alternate a:hover,
.button.button--alternate:hover a,
.button.button--alternate a:hover,
.button.button--alternate a a:hover,
.button.button--alternate a:hover a {
  color: var(--kh-button-alternate-hover-color);
  background-color: var(--kh-button-alternate-color);
}

.kivvi-blogroll .kivvi-header-text {
  text-align: center;
}
.kivvi-blogroll .blogroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.kivvi-blogroll .blogroll .blog-item {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.kivvi-hero h1,
.kivvi-hero h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.kivvi-hero .kivvi-hero-leadin {
  margin-top: 1rem;
}

.kh-buttons {
  display: flex;
  gap: 1rem;
}

:root {
  --kivvi-card--max-width: 600px;
  --kivvi-card--font-size: 28px;
}

.kivvi-cardset-items {
  display: grid;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.kivvi-cardset-items .kivvi-card {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}
.kivvi-cardset-items a {
  text-decoration: none;
  color: inherit;
}

.kivvi-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-self: center;
  max-width: var(--kivvi-card--max-width);
  word-break: normal;
}
.kivvi-card .imgwrapper {
  width: 100%;
}
.kivvi-card img {
  width: 100%;
  object-fit: cover;
}
.kivvi-card h3 {
  font-weight: bold;
  font-size: var(--kivvi-card--font-size);
}

:root {
  --kh-accordion-details-radius: 0;
  --kh-accordion-details-margin: 10px auto;
  --kh-accordion-summary-padding: 10px;
  --kh-accordion-summary-background: none;
  --kh-accordion-border: 1px solid black;
  --kh-accordion-border-color: black;
}

.kivvi-accordion details {
  box-sizing: border-box;
  margin: var(--kh-accordion-details-margin);
  border: var(--kh-accordion-border);
}
.kivvi-accordion details summary {
  background: var(--kh-accordion-summary-background);
  color: var(--kh-color-dark);
  border-radius: var(--kh-accordion-details-radius);
  font-size: 28px;
  font-size: clamp(1.2rem, -0.875rem + 8.333vw, 28px);
  text-align: left;
  background: unset;
  padding: var(--kh-accordion-summary-padding);
  position: relative;
}
.kivvi-accordion details summary:focus {
  border-color: black;
}
.kivvi-accordion details summary::marker {
  display: none;
  content: "";
}
.kivvi-accordion details summary:before {
  content: "+";
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 40px;
}
.kivvi-accordion details[open] summary:before {
  content: "-";
}
.kivvi-accordion details .kivvi-accordion-content {
  border: none;
  padding: 5px;
}

details > summary::-webkit-details-marker {
  display: none;
  content: "";
}

:root {
  --kh-twoup-modal-video-play-button-width: 50px;
  --kh-modal-video-play-button-stroke: black;
  --kh-modal-video-play-button-fill: none;
  --kh-modal-video-play-button-linecap: round;
  --kh-modal-video-play-button-linejoin: round;
}

.kivvi-modal-video .kivvi-modal-video-inner {
  position: relative;
  width: 100%;
}
.kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay .play-button {
  position: relative;
  width: 100%;
  max-width: 200px;
  min-width: 100px;
  min-height: 100px;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 3rem 3rem 3rem 4rem;
  text-align: center;
}
.kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay .play-button svg path {
  transition: all 0.5s;
}
.kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay .play-button:hover svg path {
  stroke: var(--kh-color-green) !important;
}
.kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay .kivvi-modal-video-link-text,
.kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay .kivvi-modal-video-link {
  text-decoration: none;
  font-size: 1.6rem;
  margin: auto;
  color: black;
}

.kivvi-modal-video-embed {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  display: none;
}
.kivvi-modal-video-embed .close-video {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.kivvi-modal-video-embed.active {
  display: flex;
  transition: opacity 1s;
}
.kivvi-modal-video-embed.active.show {
  opacity: 1;
}

.kivvi-twoup .kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay {
  width: var(--kh-twoup-modal-video-play-button-width);
  left: calc(50% - var(--kh-twoup-modal-video-play-button-width));
}
.kivvi-twoup .kivvi-modal-video .kivvi-modal-video-inner .kivvi-modal-video-overlay .play-button {
  min-width: var(--kh-twoup-modal-video-play-button-width);
  min-height: var(--kh-twoup-modal-video-play-button-width);
  padding: 2rem 2rem 2rem 3rem;
}
.kivvi-twoup .kivvi-modal-video img {
  width: 100%;
}

.kivvi-twoup {
  text-align: left;
}
.kivvi-twoup p {
  width: unset;
  margin-left: unset;
  margin-right: unset;
}

:root {
  --kh-tab-title-color: black;
  --kh-tab-title-text-decoration: none;
  --kh-tab-active-title-background: grey;
  --kh-tab-active-title-color: white;
  --kh-tab-links-bottom-border: black;
  --kh-tab-links-bottom-border-height: 1px;
  --kh-tabs-padding-left: 2rem;
  --kh-tabs-padding-top: 1rem;
}

.kivvi-tabs > ul {
  width: 100%;
  gap: 2rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline-start: var(--kh-tabs-padding-left);
}
.kivvi-tabs > ul:after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--kh-tab-links-bottom-border-height));
  bottom: 0;
  left: var(--kh-tabs-padding-left);
  height: var(--kh-tab-links-bottom-border-height);
  width: calc(100% - var(--kh-tabs-padding-left));
  background: var(--kh-tab-links-bottom-border);
}

.kivvi-tab-title {
  list-style: none;
}

.kivvi-tab-title-link {
  color: var(--kh-tab-title-color);
  text-decoration: var(--kh-tab-title-text-decoration);
  padding: 1rem;
  transition: all 0.3s;
}
.kivvi-tab-title-link[aria-selected] {
  background: var(--kh-tab-active-title-background);
  color: var(--kh-tab-active-title-color);
}

.kivvi-tabs-section {
  padding-inline-start: var(--kh-tabs-padding-left);
  padding-block-start: var(--kh-tabs-padding-top);
}

:root {
  --nav-breakpoint: 1000px;
  --nav-icon-background: #ffffff;
  --nav-icon-background-hover: #777777;
  --nav-drawer-link-color: white;
  --nav-drawer-background: black;
  --nav-drawer-underline-color: white;
}

#masthead {
  display: flex;
  justify-content: space-between;
}
#masthead nav {
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  align-items: center;
}
#masthead nav ul.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
#masthead nav a {
  text-decoration: none;
}

.site-title a {
  text-decoration: none;
}

#mobile-toggle {
  z-index: 10000;
}

#nav-icon {
  width: 40px;
  display: none;
  z-index: 10000;
  height: 40px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: var(--nav-icon-background);
  background-size: 200% 200%;
  background-position: 0% 0%;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.4s ease-in-out;
}

a #nav-icon:hover span,
a #nav-icon.open span {
  background-color: var(--nav-icon-background-hover);
}

#nav-icon.open:hover span {
  filter: brightness(1.5);
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 14px;
}

#nav-icon span:nth-child(3) {
  top: 28px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 1000px) {
  #site-navigation {
    transform: translateX(150%);
    transition: transform 0.5s ease-in-out;
    background: var(--nav-drawer-background);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: var(--nav-drawer-link-color);
    z-index: 9999;
  }
  #site-navigation.active {
    transform: translateX(0);
  }

  #nav-icon {
    display: block;
  }

  #masthead nav {
    overflow: auto;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 2rem;
    width: 100%;
  }
  #masthead nav > div {
    width: 100%;
  }
  #masthead nav ul.menu {
    padding: 0;
    flex-direction: column;
    min-height: 800px;
    width: 90%;
    max-width: 400px;
    text-align: left;
    margin: auto;
  }
  #masthead nav ul.menu a {
    color: var(--kh-color-teal);
    position: relative;
    display: block;
    padding-bottom: 0.5rem;
  }
  #masthead nav ul.menu a:after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    height: 2px;
    background: var(--nav-drawer-underline-color);
    width: calc(90vw - 80px);
    max-width: 400px;
  }
  #masthead nav ul.menu .sub-menu a:after {
    width: calc(90vw - 120px);
  }
  #masthead nav ul.menu > li:last-of-type a {
    border-bottom: none;
  }
  #masthead nav li {
    width: 100%;
  }
  #masthead nav a {
    color: var(--kh-color-dark-teal);
  }
  #masthead nav .sub-menu {
    padding-top: 1rem;
    margin-top: 0.5rem;
  }
  #masthead nav .sub-menu li {
    position: relative;
  }
}
.page-about {
  background: url("https://ncsamericadev.wpengine.com/wp-content/themes/ncs-theme/images/green.jpeg");
}
.page-about .imgwrapper {
  display: inline-block;
  max-height: 300px;
  overflow: hidden;
}
.page-about img {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  transition: transform 0.3s;
  max-height: 300px;
}
.page-about img:not(.modalimg):hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.team-title {
  color: var(--kh-color-orange);
}

.kivvi-blogroll {
  text-align: left;
  margin-bottom: 2rem;
}
.kivvi-blogroll h2,
.kivvi-blogroll h3 {
  text-align: center;
}
.kivvi-blogroll h3 {
  font-size: 24px;
}
.kivvi-blogroll p {
  font-size: 16px;
  line-height: 1.3;
  margin: 10px 0;
}
.kivvi-blogroll a {
  text-decoration: none;
  color: inherit;
}
.kivvi-blogroll img {
  height: 300px;
  background: white;
  object-fit: contain;
  object-position: center;
}
.kivvi-blogroll img.fill {
  object-fit: cover;
  object-position: top center;
}

.timeline {
  max-width: 800px;
  margin: auto;
}

.timeline li {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 50px 80px;
}

.timeline li:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url("https://ncsamericadev.wpengine.com/wp-content/themes/ncs-theme/images/circle.png");
  background-repeat: no-repeat;
  z-index: 100;
  pointer-events: none;
}

.timeline li:after {
  background-image: url("https://ncsamericadev.wpengine.com/wp-content/themes/ncs-theme/images/borderline.png");
  background-size: 1px calc(100% - 27px);
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 22px;
  top: 27px;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  transition: all 2s;
  max-height: 0;
  opacity: 0;
}

.timeline li:last-of-type:after {
  background: none;
}

.timeline.active li:before {
  transition: all 1s;
  opacity: 1;
}
.timeline.active li:nth-of-type(2):before {
  transition-delay: 1s;
}
.timeline.active li:nth-of-type(3):before {
  transition-delay: 2s;
}
.timeline.active li:nth-of-type(4):before {
  transition-delay: 3s;
}
.timeline.active li:nth-of-type(5):before {
  transition-delay: 4s;
}
.timeline.active li:nth-of-type(6):before {
  transition-delay: 5s;
}
.timeline.active li:nth-of-type(7):before {
  transition-delay: 6s;
}
.timeline.active li:nth-of-type(8):before {
  transition-delay: 7s;
}
.timeline.active li:after {
  transition: all 1s;
  max-height: 1000px;
  opacity: 1;
  transition-delay: 0.5s;
}
.timeline.active li:nth-of-type(2):after {
  transition-delay: 1.5s;
}
.timeline.active li:nth-of-type(3):after {
  transition-delay: 2.5s;
}
.timeline.active li:nth-of-type(4):after {
  transition-delay: 3.5s;
}
.timeline.active li:nth-of-type(5):after {
  transition-delay: 4.5s;
}
.timeline.active li:nth-of-type(6):after {
  transition-delay: 5.5s;
}
.timeline.active li:nth-of-type(7):after {
  transition-delay: 6.5s;
}
.timeline.active li:nth-of-type(8):after {
  transition-delay: 7.5s;
}

.page-contact {
  background: url("https://ncsamericadev.wpengine.com/wp-content/themes/ncs-theme/images/gold-combo.jpeg");
}
.page-contact h3 {
  color: var(--kh-color-orange);
}

.standard-page p {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.standard-page li {
  text-align: left;
}