<div class="kh-buttons kh-buttons--{{variant}}">
	{% for button in buttons %}
		{% include '@elements/button.twig' with { text: button.text, href: button.href, variant: button.variant } %}

	{% endfor %}
</div>
