:root {
    --kh-accordion-details-radius: 0;
    --kh-accordion-details-margin: 10px auto;
    --kh-accordion-summary-padding: 10px;
}

.kivvi-accordion {
    width: 600px;
    details {
        box-sizing: border-box;
        margin: var(--kh-accordion-details-margin);

        summary {
            background: var(--kh-color-green);
            color: var(--kh-color-light);
            border-radius: var(--kh-accordion-details-radius);
            padding: var(--kh-accordion-summary-padding);
            border: 2px solid transparent;
            &:focus {
                border-color: black;
            }
        }
        .kivvi-accordion-content {
            border: 1px solid var(--kh-color-green);
            padding: 5px;
        }
    }
}
