:root {
    --kh-accordion-details-radius: 0;
    --kh-accordion-details-margin: 10px auto;
    --kh-accordion-summary-padding: 10px;
    --kh-accordion-summary-background: none;
    --kh-accordion-border: 1px solid black;
    --kh-accordion-border-color: black;
}

.kivvi-accordion {
    details {
        box-sizing: border-box;
        margin: var(--kh-accordion-details-margin);
        border: var(--kh-accordion-border);
        summary {
            background: var(--kh-accordion-summary-background);
            color: var(--kh-color-dark);
            border-radius: var(--kh-accordion-details-radius);
            font-size: 28px;
            font-size: clamp(1.2rem, -0.875rem + 8.333vw, 28px);
            text-align: left;
            background: unset;

            padding: var(--kh-accordion-summary-padding);
            position: relative;
            &:focus {
                border-color: black;
            }
            &::marker {
                display: none;
                content: "";
            }
            &:before {
                content: "+";
                position: absolute;
                right: 20px;
                top: 0;
                font-size: 40px;
            }
        }
        &[open] summary:before {
            content: "-";
        }
        .kivvi-accordion-content {
            border: none;
            padding: 5px;
        }
    }
}
details > summary::-webkit-details-marker {
    display: none;
    content: "";
}
