.kivvi-blogroll {
    .kivvi-header-text {
        text-align: center;
    }
    .blogroll {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        .blog-item {
            flex: 1;
            min-width: 300px;
            max-width: 600px;
        }
    }
}

.kivvi-blogroll {
    text-align: left;
    margin-bottom: 2rem;
    h2,
    h3 {
        text-align: center;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        line-height: 1.3;
        margin: 10px 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        height: 300px;
        background: white;
        object-fit: contain;
        object-position: center;
        &.fill {
            object-fit: cover;
            object-position: top center;
        }
    }
}
