:root {
    --kh-button-background: transparent;
    --kh-button-color: black;
    --kh-button-padding: 0.5rem 1rem;
    --kh-button-radius: 10px;
    --kh-button-border: 1px solid black;
    --kh-button-hover-color: white;
    --kh-button-hover-background: black;
    --kh-button-transition: 0.5s all ease-in-out;
    --kh-button-alternate-color: var(--kh-color-green);
    --kh-button-alternate-background: transparent;
    --kh-button-alternate-hover-color: white;
}

button,
.button {
    background-color: var(--kh-button-background);
    color: var(--kh-button-color);
    padding: var(--kh-button-padding);
    border-radius: var(--kh-button-radius);
    border: var(--kh-button-border);
    transition: var(--kh-button-transition);
    text-decoration: none;
    a {
        color: var(--kh-button-color);
        text-decoration: none;
        transition: var(--kh-button-transition);
    }
    &:hover,
    a:hover,
    &:hover a {
        color: var(--kh-button-hover-color);
        background-color: var(--kh-button-hover-background);
    }
    &.button--alternate,
    &.button--alternate a {
        background-color: var(--kh-button-alternate-background);
        color: var(--kh-button-alternate-color);
        transition: var(--kh-button-transition);
        &:hover,
        a:hover,
        &:hover a {
            color: var(--kh-button-alternate-hover-color);
            background-color: var(--kh-button-alternate-color);
        }
    }
}
