:root {
    --kivvi-card--max-width: 600px;
    --kivvi-card--font-size: 28px;
}

.kivvi-cardset-items {
    display: grid;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    .kivvi-card {
        flex: 1;
        min-width: 300px;
        max-width: 600px;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

.kivvi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
    max-width: var(--kivvi-card--max-width);
    word-break: normal;
    .imgwrapper {
        width: 100%;
    }
    img {
        // max-width: 300px;
        width: 100%;
        object-fit: cover;
    }
    h3 {
        font-weight: bold;
        font-size: var(--kivvi-card--font-size);
    }
}
