:root {
    --kivvi-card--max-width: 600px;
    --kivvi-card--font-size: 28px;
}

.kivvi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: var(--kivvi-card--max-width);
    word-break: break-all;
    img {
        max-width: 300px;
    }
    h3 {
        font-weight: bold;
        font-size: var(--kivvi-card--font-size);
    }
}
