:root {
    --kivvi-card--max-width: 600px;
    --kivvi-card--font-size: 28px;
}

.kivvi-cardset-items {
    display: grid;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    .blog-item,
    .team-member {
        justify-self: center;
    }
    > * {
        flex: 1;
        max-width: 300px;
    }
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}
.kivvi-cardset-items {
    margin-top: 2rem;
}
.kivvi-cardset-items a {
    text-decoration: none;
}

.kivvi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
    max-width: var(--kivvi-card--max-width);
    word-break: normal;
    img {
        max-width: 300px;
    }
    h3 {
        font-weight: bold;
        font-size: var(--kivvi-card--font-size);
    }
}
