$kivvi-max-content-width: 1280px;

html {
    background: var(--kh-global-background);
    color: var(--kh-global-font-color);
}

body {
    margin: 0;
}

.kivvi_section {
    background-size: cover;
    text-align: center;
    padding: 1rem 0;
    margin: 2rem auto;
    @media screen and (min-width: 1280px) and (max-width: 1320px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    &.flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.kivvi_section_content {
    position: relative;
    max-width: $kivvi-max-content-width;
    margin: auto;
    @media screen and (max-width: 1279px) {
        width: 90%;
    }
}

.full-width {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8rem;
    @media screen and (min-width: $kivvi-max-content-width) {
        margin-left: calc(-100vw / 2 + $kivvi-max-content-width / 2);
        margin-right: calc(-100vw / 2 + $kivvi-max-content-width / 2);
        padding-left: calc((-100vw / 2 + $kivvi-max-content-width / 2) * -1);
        padding-right: calc((-100vw / 2 + $kivvi-max-content-width / 2) * -1);
        margin-left: calc(-100vw + $kivvi-max-content-width);
        margin-right: 0;
        padding-left: calc((-100vw + $kivvi-max-content-width) * -1);
        padding-right: 0;
        width: 100%;
    }
    @media screen and (max-width: 950px) {
        background: none !important;
        padding-bottom: 0;
    }
    padding-top: 0;

    background-repeat: no-repeat;
    background-position: top right;
    position: relative;

    background-size: contain;
}

.min-margin-bottom {
    margin-bottom: 1rem;
}
.section {
    &.min-margin-bottom {
        margin-bottom: 1rem;
    }
    &.no-margin-bottom {
        margin-bottom: 0;
    }
}
.extra-padding {
    padding-top: 12rem;
}

.no-margin-top {
    margin-top: 0;
}

.width-950 {
    max-width: 950px;
    @media screen and (min-width: 1000px) {
        &.white-section .kivvi_section_content {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

p {
    line-height: 1.5;
}
