html {
    background: var(--kh-global-background);
    color: var(--kh-global-font-color);
}

body {
    margin: 0;
}
.kivvi_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
