html {
    background: var(--kh-global-background);
    color: var(--kh-global-font-color);
}

body {
    margin: 0;
}
.kivvi_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
    padding: 1rem 0;
    margin: 2rem auto;
}
.kivvi_section_content {
    position: relative;
    max-width: 1280px;
    margin: auto;
    @media screen and (max-width: 1279px) {
        width: 90%;
    }
}
