.columns-two {
    display: flex;
}

.kivvi-columns {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    > * {
        min-width: 300px;
    }
    &.equal-width {
        > * {
            flex: 1;
            flex-wrap: wrap;
            margin: auto;
        }
    }
}

.hanging-indent {
    padding-left: 22px;
    text-indent: -22px;
}
